body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #7C4CEF;
    margin-bottom: 4px;
}

button {
    background: #7C4CEF;
    color: white;
    padding: 10px 20px;
    border: 1px solid #7C4CEF;
    font-weight: bold;
}
#delete-btn {
    background-color: white;
    color: #7C4CEF;
}
.delete-btn:hover {
    border: 2px solid #7C4CEF;
}
button:hover {
    border: 2px solid #7C4CEF;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #133795;
}
